# Model provider
OPENROUTER_API_KEY=
OPENAI_API_KEY=
GROQ_API_KEY=
HF_TOKEN=

# Search
TAVILY_API_KEY=

# Optional configuration
POLISHER_MODEL=meta-llama/llama-3.3-70b-instruct:free
RESEARCH_MODEL=google/gemma-3-27b-it
WEBSITE_MODEL=Qwen/Qwen2.5-Coder-32B-Instruct:nscale
PITCH_MODEL=google/gemma-3-27b-it:featherless-ai
DELIVERER_MODEL=google/gemma-3-27b-it
EMBEDDING_MODEL=all-MiniLM-L6-v2
CHROMA_PATH=knowledge_base/chroma_db
OUTPUT_DIR=outputs
